/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");

/* import components */
@import url("./colors.css");
@import url("./components/navbar.css");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container,
.container-fluid {
  padding: 0;
}

main.container {
  margin: 0;
  padding: 0 2vw;
  width: 100%;
}
