@import url("./colors.css");

.node-main-flow {
  width: 100%;
}

#greeting-header {
  color: #fff;
  background-color: var(--medium-candy-apple-red);
  border-radius: 0;
  position: relative;
  padding: 4em 2rem;
  margin: 0;

  display: flex;
  align-items: center;
}

#greeting-header__content h1,
h4 {
  line-height: 1;
}

#greeting-header__content h1 {
  font-weight: 900;
  font-size: 2.5rem;
}

#greeting-header__content h4 {
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 0;
}

#greeting-header__icon {
  height: 6rem;
  margin-left: auto;
}

#greeting-header__icon img {
  height: 100%;
}

/* discover node styles start here */

.node-discover-city {
  margin: 5% 0;
}

.node-discover-city-background {
  background-color: var(--maximum-yellow-red);
}

/* map styles start here */

.node-discover-city__map-wrapper {
  z-index: 1;
  position: relative;

  max-width: none;
  margin: 0;

  display: grid;
  place-content: center;
}

.map-widget {
  margin: 0;
  box-shadow: 0px 0px 80px #34343440;

  color: #38658a;
  background-color: #7cb0d9;

  border-radius: 2px;
}

.map-widget > * {
  height: 400px;
}

.map-widget::before {
  content: " ";
  width: 100%;
  height: 50%;
  position: absolute;
  background-color: white;

  left: 0;
  top: 0;
  z-index: -1;
}

#map-widget__caption-wrapper {
  display: grid;
  place-items: center;
  padding: 0 2em;
}

#map-widget__caption h1 {
  font-size: 1.875rem;
  font-weight: 500;
}

#map-widget__caption p {
  margin: 0;

  font-size: 1.2rem;
  font-weight: 300;
}
