@import url("./colors.css");

.node-main-flow {
  width: 100%;
}

#greeting-header {
  color: #fff;
  background-color: var(--medium-candy-apple-red);
  border-radius: 0;
  position: relative;
  padding: 4em 2rem;
  margin: 0;

  display: flex;
  align-items: center;
}

#greeting-header__content h1,
h4 {
  line-height: 1;
}

#greeting-header__content h1 {
  font-weight: 900;
  font-size: 2.5rem;
}

#greeting-header__content h4 {
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 0;
}

#greeting-header__icon {
  height: 6rem;
  margin-left: auto;
}

#greeting-header__icon img {
  height: 100%;
}

/* discover node styles start here */

.node-discover-city {
  margin: 5% 0;
  display: grid;
}

.node-discover-city {
  --content-width: 80vw;
}

.node-discover-city-background {
  background-color: var(--maximum-yellow-red);
}

/* map styles start here */

.node-discover-city__map-wrapper {
  max-width: none;
  margin: 0;
  margin-bottom: 6%;

  display: grid;
  place-content: center;

  z-index: 1;
  position: relative;
}

.map-widget {
  width: var(--content-width);

  color: #38658a;
  background-color: #7cb0d9;
  border-radius: 2px;
  box-shadow: 0px 0px 80px #34343481;
}

.map-widget > * {
  height: 400px;
}

.map-widget::before {
  content: " ";
  width: 100%;
  height: 50%;
  position: absolute;
  background-color: white;

  left: 0;
  top: 0;
  z-index: -1;
}

#map-widget__caption-wrapper {
  display: grid;
  place-items: center;
  padding: 0 2em;
}

#map-widget__caption h1 {
  font-size: 1.875rem;
  font-weight: 500;
}

#map-widget__caption p {
  margin: 0;

  font-size: 1.2rem;
  font-weight: 300;
}

/* SVG separator */
#map__svg-separator {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: -1;
  fill: #fff;
  overflow: hidden;
}

/* header styles start here */

.node-discover-city__header {
  display: grid;
  place-items: center;

  position: relative;
  z-index: 1;
}

.node-discover-city__header {
  --separator-height: 20%;
}

#node-discover-city__header__caption {
  color: var(--medium-candy-apple-red);
  width: var(--content-width);

  margin-bottom: 2.375em;
}

#node-discover-city__header__caption h1 {
  font-size: 2.6rem;
  font-weight: 700;
}

#node-discover-city__header__caption h4 {
  font-size: 1.6rem;
}

/* article styles */

#header__article-wrapper {
  position: relative;
}

#header__article__image {
  width: var(--content-width);
  height: 500px;
  object-fit: cover;
}

#header__article__caption {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;

  padding-left: 2em;
  padding-top: 0.5em;
  padding-bottom: 1em;

  color: #fff;
  background: linear-gradient(#3330, #333);
}

#header__article__caption h1 {
  font-size: 2.275rem;
  max-width: 15em;
}

#header__article__caption a {
  color: inherit;
  text-decoration: none;

  font-size: 1.175rem;

  transition: font-size 0.2s ease;
}

#header__article__caption a:hover {
  font-size: 1.2rem;
}

#header__article__caption a > i {
  transition: transform 0.2s ease;
}

#header__article__caption a:hover > i {
  transform: translateX(1em);
}

#node-discover-city__header__article::after {
  content: " ";
  width: 100%;
  height: var(--separator-height);
  background-color: white;

  position: absolute;
  left: 0;
  bottom: 0;

  z-index: -1;
}

/* SVG separator */
#article__svg-separator {
  position: absolute;
  top: calc(100% - var(--separator-height));
  left: 0;
  width: 100%;
  fill: var(--maximum-yellow-red);
  z-index: -1;
}
